@import "variables";
@import "mixins";

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: $site-font;
}

a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}


.hide-for-mobile{
    @include breakpoint-down( small){
        display: none;
    }
}
.hide-for-desktop{
    @include breakpoint-up(large){
        display: none;
    }
}