.header{
    background-color: $light-bg-cl;
    width: 100%;
    margin: 0 auto;

    & .header-top{
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .logo{
            background-color: $logo-bg-cl;
            width: 4rem;
            height: 4.5rem;
            margin-left: 2rem;

            @include breakpoint-down(small ){
                width: 5rem;
                height: 3.5rem;
            }
    
            img{
                width: 100%;
                height: auto;
            }
        }
    
        & nav{
            background-color: $menu-bg-cl;
            width: 100%;
            padding-right: 2rem;

            @include breakpoint-down(small){
                background-color: #f9fffc;
            }
            ul{
                float: right;
                margin-right: 2rem;
                li{
                    display: inline-block;
                    padding-top: .3rem;
                    padding-bottom: .3rem;
                    padding-right: 1rem;
                    padding-left: 1rem;
                    &:hover{
                        background-color: $menu-hover-cl;
                        a{
                            color: #ffffff;
                        }
                    }
                    
                    a{
                        font-size: 1rem;
                        font-weight: bold;
                        color: $menu-text-cl;
                        text-transform: uppercase;
                        
                    }
                }
                // li:not(:last-child){
                //     margin-right: 2rem;
                // }
            }

            & .toggle-bt{
                float: right;
                span{
                    display: block;
                    width: 2rem;
                    height: .3rem;
                    background-color: $base-bg-cl;
                }
                span:not(:last-child){
                    margin-bottom: .3rem;
                }
            }
        }

        & .mobile-menu{
            position: absolute;
            top: 11.5%;
            left: 50%;
            transform: translate( -50% );
            display: none;
            background-color: $menu-bg-cl;
            width: 80%;
            z-index: 5;

            a{
                display: block;
                padding: .5rem 0;
                text-align: center;
                text-transform: uppercase;
                color: $menu-text-cl;
                &:hover{
                    background-color: $menu-hover-cl;
                    color: #ffffff;
                }
            }
        }
    }

    & .hero-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        width: 100%;
        padding: 7rem 0 15rem 0;

        @include breakpoint-down(small){
            flex-direction: column;
            padding-bottom: 5rem;
        }

        .model{
            position: relative;
            width: 45%;
            height: auto;

            @include breakpoint-down(small){
                position: inherit;
                width: 80%;
            }

            & .model-img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate( -50%, -50% );
                width: 270px;
                height: 270px;
                border: 5px solid $image-border-cl;
                border-radius: 50%;
                z-index: 2;

                @include breakpoint-down( small ){
                    top: 50%;
                    width: 150px;
                    height: 150px;
                }
            }
            & .header-model-texture{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate( -50%, -50% );
                width: 500px;
                height: auto;

                @include breakpoint-down( small ){
                    top: 50%;
                    width: 300px;
                    height: auto;
                }
            }
        }
        & .title{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 45%;

            @include breakpoint-down(small){
                width: 100%;
                margin-top: 13rem;
            }

            h1{
                margin-bottom: 0;
                font-size: 5rem;
                text-transform: uppercase;
                color: $base-bg-cl;

                @include breakpoint-down(small){
                    margin-top: 0;
                    font-size: 3rem;
                }
            }
            p{
                width: 60%;
                margin-top: -1rem;
                text-align: center;
                color: $base-bg-cl;
            }
            a{
                background-color: $base-bg-cl;
                padding: 0 1rem;
                border-radius: .5rem;
                color: #ffffff;
                font-size: .8rem;
                letter-spacing: .1rem;
                text-transform: uppercase;
            }
        }
    }
    
    & .half-bg-texture{
        position: absolute;
        right: 0;
        bottom: -65%;
        width: 20%;

        @include breakpoint-down(small){
            bottom: -60%;
        }
    }
}
