.trainer{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 4rem;
    overflow: hidden;

    @include breakpoint-down(small){
        padding-bottom: 0;
    }
    & .trainer-bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: -1;

        @include breakpoint-down(small){
            height: 500px;
        }
    }

    & .model-img,
    & .model-texture{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate( -50%, -50% );
    }
    & .model-img{
        width: 150px;
        height: 150px;
        border: 5px solid $base-bg-cl;
        border-radius: 50%;
        z-index: 2;
    }
    & .model-texture{
        width: 250px;
        height: 250px;
    }
    & .profile-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 22rem;
        margin-right: auto;
        margin-left: auto;
        color: $base-bg-cl;

        @include breakpoint-down(small){
            margin-top: 17rem;
        }

        p{
            width: 40%;
            margin-bottom: .5rem;
            font-size: 1.8rem;
            text-align: center;

            @include breakpoint-down(small){
                width: 80%;
                font-size: 1.3rem;
            }
        }

        h3{
            margin-top: 0;
            font-size: 1.5rem;
            text-transform: uppercase;
        }
    }
}