//Colors
$logo-bg-cl: #a7d7c5;
$menu-bg-cl: #e2ede8;
$menu-text-cl: #494f4e;
$menu-hover-cl: #6c9894;
$image-border-cl: #6c9994;
$base-bg-cl: #6c9894;
$light-bg-cl: #f9fffc;

//Fonts
$site-font: 'Baloo Bhaijaan 2', cursive;

